<%- include('../../partials/header') %>


<form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
    <!-- Value attribute is being set to the comment's current text -->
    <input name="content" value="<%= comment.content %>">
    <button type="submit">UPDATE COMMENT</button>
  </form>

  <%- include('../../partials/footer') %>
