<%- include('./partials/header') %>

<html>
  <head>
    <!-- <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body class="bg-image .img-fluid.max-width: 100% height: auto"
  style="
    background-image: url('https://i.imgur.com/cAALQu3.jpg');
    height: 100%; width: 100%;">
    <!-- <p class="text-light"> <%= title %></p> -->
    <div class="text-center">
      <h1 class="fs-1 fw-bolder text-light">Welcome to <span class="text-info">Code-Zen</span></h1>
      <h3 class="text-light">A community blog for support and feedback on your journey to
        learn and master the art of coding.</h3>
        <h2 class="text-white">working together towards a state of <span class="text-info">Code-Zen</span></h2>
    </div>
      
    
  </body>
</html>

<%- include('./partials/footer') %>

