<%- include('./partials/header') %>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-image .img-fluid.max-width: 100% height: auto"
  style="
    background-image: url('https://i.imgur.com/cAALQu3.jpg');
    height: 100%; width: 100%;">
    <p> <%= title %></p>
     <h1 class=".text-white">Welcome to Code-Zen</h1>
    
      
    
  </body>
</html>

<%- include('./partials/footer') %>

