<%- include('../partials/header') %>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div id="container">
    <h1 id="mb-4">Community Posts</h1>
    <a href="/posts/show" class="btn btn-success">More</a>

    <% posts.forEach(article => { %>
      <div id="card">
        <%= post.title %>
      </div>
    <% }) %>
   </div>
   
    
  </body>
</html>

<%- include('../partials/footer') %>

//main blog page