<%- include('../partials/header') %>

<form id="new-form" action="/posts/new" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Post:</label>
  <input type="text" name="postContent">
  
  <input type="submit" value="Add Post">
</form>

<%- include('../partials/footer') %>
