<%- include('../partials/header') %>

<form id="new-form" action="/posts/new" method="POST">
  <label class="text-light">Title:</label>
  <input type="text" name="title">
  <label class="text-light">Post:</label>
  <input type="text" name="postContent">
  
  <input class="btn btn-outline-info" type="submit" value="Add Post">
</form>

<%- include('../partials/footer') %>
