<%- include('../partials/header') %>

<section id="show-page">
    <div>Title:</div>
    <div><%= post.title %></div>
    <div><%= post.content %></div>
</section>




<%- include('../partials/footer') %>